body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    overflow: hidden; /* Evita el scrolling vertical */
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 0px; /* Espacio reducido entre cuadros */
    justify-content: center; /* Asegura que esté centrado horizontalmente */
    align-items: center;
    width: 300px; /* Reduce el ancho total de la cuadrícula */
    margin: 0 auto; /* Centra la cuadrícula */
}

.category {
    width: 100%; /* Se ajusta automáticamente al tamaño de la cuadrícula */
    aspect-ratio: 1; /* Cada cuadro será perfectamente cuadrado */
    border: 1px solid black #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 14px; /* Ajusta el tamaño del texto */
    background-color: #fdfdfd;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Oculta las partes de la imagen fuera del cuadrado */
}

.category img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta automáticamente las imágenes al cuadrado */
}

.category.dragover {
    border-color: #333;
    background-color: #f0f0f0;
}
